<h2>Chào {{email}}!</h2>
<p>Vui lòng click vào đường dẫn bên dưới để xác thực tài khoản</p>
<p>Đang chưa có frontend nên lấy cái link này paste vô postman test</p>
<p>Body : {{emailToken}}</p>
<a href="http://localhost:5000/api/auth/confirm">Click me</a>
